:root {
  /*font*/
  --vxe-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --vxe-font-size: 14px;
  --vxe-font-size-medium: 14px;
  --vxe-font-size-small: 13px;
  --vxe-font-size-mini: 12px;

  /*size*/
  --vxe-border-radius: 4px;

  /*icon*/
  --vxe-icon-font-family: Verdana,Arial,Tahoma;
  --vxe-icon-background-color: #fff;

  /*color*/
  --vxe-font-color: #606266;
  --vxe-primary-color: #409eff;
  --vxe-success-color: #67c23a;
  --vxe-info-color: #909399;
  --vxe-warning-color: #e6a23c;
  --vxe-danger-color: #f56c6c;

  --vxe-font-lighten-color: lighten(#606266, 10%);
  --vxe-primary-lighten-color: lighten(-#409eff, 10%);
  --vxe-success-lighten-color: lighten(#67c23a, 10%);
  --vxe-info-lighten-color: lighten(#909399, 10%);
  --vxe-warning-lighten-color: lighten(#e6a23c, 10%);
  --vxe-danger-lighten-color: lighten(#f56c6c, 10%);

  --vxe-font-darken-color: darken(#606266, 10%);
  --vxe-primary-darken-color: darken(-#409eff, 10%);
  --vxe-success-darken-color: darken(#67c23a, 10%);
  --vxe-info-darken-color: darken(#909399, 10%);
  --vxe-warning-darken-color: darken(#e6a23c, 10%);
  --vxe-danger-darken-color: darken(#f56c6c, 10%);

  --vxe-font-disabled-color: #BFBFBF;
  --vxe-primary-disabled-color: lighten(-#409eff, 20%);
  --vxe-success-disabled-color: lighten(#67c23a, 20%);
  --vxe-info-disabled-color: lighten(#909399, 20%);
  --vxe-warning-disabled-color: lighten(#e6a23c, 20%);
  --vxe-danger-disabled-color: lighten(#f56c6c, 20%);

  /*input/radio/checkbox*/
  --vxe-input-border-color: #dcdfe6;
  --vxe-input-disabled-color: #dcdfe6;
  --vxe-input-disabled-background-color: #f3f3f3;
  --vxe-input-placeholder-color: #C0C4CC;

  /*popup*/
  --vxe-table-popup-border-color: #DADCE0;

  /*table*/
  --vxe-table-header-font-color: var(--vxe-font-color);
  --vxe-table-footer-font-color: var(--vxe-font-color);
  --vxe-table-border-radius: var(--vxe-border-radius);
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #e8eaec;
  --vxe-table-resizable-line-color: #D9DDDF;
  --vxe-table-resizable-drag-line-color: var(--vxe-primary-color);
  --vxe-table-header-background-color: #f8f8f9;
  --vxe-table-body-background-color: #ffffff;
  --vxe-table-footer-background-color: #ffffff;
  --vxe-table-tree-node-line-color:#909399;
  --vxe-table-tree-node-line-style: dotted;
  --vxe-table-header-font-weight: 700;

  --vxe-table-row-height-default: 48px;
  --vxe-table-row-height-medium: 44px;
  --vxe-table-row-height-small: 40px;
  --vxe-table-row-height-mini: 36px;
  --vxe-table-row-line-height: 22px;
  --vxe-table-row-hover-background-color: #f5f7fa;
  --vxe-table-row-striped-background-color: #fafafa;
  --vxe-table-row-hover-striped-background-color: #f5f7fa;
  --vxe-table-row-radio-checked-background-color: #fff3e0;
  --vxe-table-row-hover-radio-checked-background-color: #ffebbc;
  --vxe-table-row-checkbox-checked-background-color: #fff3e0;
  --vxe-table-row-hover-checkbox-checked-background-color: #ffebbc;
  --vxe-table-row-current-background-color: #e6f7ff;
  --vxe-table-row-hover-current-background-color: #d7effb;

  --vxe-table-column-padding-default: 13px 0;
  --vxe-table-column-padding-medium: 11px 0;
  --vxe-table-column-padding-small: 9px 0;
  --vxe-table-column-padding-mini: 7px 0;
  --vxe-table-column-hover-background-color: #d7effb;
  --vxe-table-column-current-background-color: #e6f7ff;
  --vxe-table-column-icon-border-color: #c0c4cc;
  --vxe-table-column-icon-border-hover-color: #515A6E;

  --vxe-table-cell-placeholder-color: #C0C4CC;
  --vxe-table-cell-padding-left: 10px;
  --vxe-table-cell-padding-right: 10px;
  --vxe-table-cell-input-height-default: var(--vxe-table-row-height-default) - 6;
  --vxe-table-cell-input-height-medium: var(--vxe-table-row-height-medium) - 6;
  --vxe-table-cell-input-height-small: var(--vxe-table-row-height-small) - 6;
  --vxe-table-cell-input-height-mini: var(--vxe-table-row-height-mini) - 6;
  --vxe-table-cell-dirty-width: 5px;
  --vxe-table-cell-dirty-update-color: #f56c6c;
  --vxe-table-cell-dirty-insert-color: #19A15F;
  --vxe-table-cell-area-border-color: var(--vxe-primary-color);
  --vxe-table-cell-area-border-width: 1px;
  --vxe-table-cell-main-area-extension-border-color: #fff;
  --vxe-table-cell-main-area-extension-background-color: var(--vxe-primary-color);
  --vxe-table-cell-extend-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-width: 3px;
  --vxe-table-cell-active-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-color: var(--vxe-table-cell-area-border-color);
  --vxe-table-cell-extend-area-border-color: var(--vxe-table-cell-area-border-color);
  --vxe-table-cell-active-area-border-color: var(--vxe-table-cell-area-border-color);
  --vxe-table-cell-area-background-color: rgba(64,158,255,0.2);

  --vxe-table-checkbox-range-border-width: 1px;
  --vxe-table-checkbox-range-border-color: #006af1;
  --vxe-table-checkbox-range-background-color: rgba(50,128,252,0.2);

  --vxe-table-fixed-left-scrolling-box-shadow: 8px 0px 10px -5px rgba(0, 0, 0, 0.12);
  --vxe-table-fixed-right-scrolling-box-shadow: -8px 0px 10px -5px rgba(0, 0, 0, 0.12);

  /*filter*/
  --vxe-table-filter-panel-background-color: #fff;

  /*menu*/
  --vxe-table-menu-item-width: 178px;
  --vxe-table-menu-background-color: #fff;

  /*validate*/
  --vxe-table-validate-error-color: #f56c6c;
  --vxe-table-validate-error-background-color: var(--vxe-table-body-background-color);

  /*grid*/
  --vxe-grid-maximize-background-color: #fff;

  /*toolbar*/
  --vxe-toolbar-background-color: #fff;
  --vxe-toolbar-custom-active-background-color: #D9DADB;
  --vxe-toolbar-panel-background-color: #fff;
}